.footer-2{
    background-color: rgb(252, 252, 252);
    padding-left: 210px;
    padding-right: 210px;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 100px;
    padding-bottom: 45px;
    
   
}
.flex-one{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.flex-one .material-symbols-outlined{
    font-size: 18px;
    color: rgb(28, 28, 28);
}
.second{
    display: flex;
    justify-content:center;
    align-items: center;
}
.block-country{
    
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 20px;
    padding: 6px 7px 6px 7px ;
    border-radius: 6px;
    background-color: rgb(252, 252, 252);
    border:1.5px solid rgb(208, 208, 208);
}
.country{
    width: 22px;
    margin-right: 10px;
}
.which-c{
    font-size: 17px;
    color: rgb(84, 84, 84);
    margin-right: 3px;
}
.block-language{
   
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 20px;
    padding: 3px 7px 1px 5px ;
    border-radius: 6px;
    background-color: rgb(252, 252, 252);
    border:1.5px solid rgb(208, 208, 208);
}
.lan .material-symbols-outlined{
    font-size: 22px;
    padding-top: 4px;
    margin-right: 5px;
}
.block-language .which-c{
    font-size: 17.5px;
    color: rgb(84, 84, 84);
}


.flex-two{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    
}
.about{
    display: flex;
    flex-direction: column;
}
.verse{
    display: flex;
    flex-direction: column;
}
.for{
    display: flex;
    flex-direction: column;
}
.more{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: column;
}
.all-apps{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
.space{
    margin-right: 10px;
}
.getit{
    width: 150px;
    margin-bottom: 15px;
}
.high{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
    
}
.low{
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(111, 111, 111);
}
.break-2{
    
    height: 0.8px;
    width: 100%;
    background-color: rgb(201, 201, 201);
    border-radius: 3px;
    
}
.policy{
    font-size: 13.2px;
    color: rgb(159, 159, 159);
}